

<%= form_for @restautant do |r| %>
	<% if @restautant.errors.any? %>
		<div>
			<p>Form is invalid</p>
		</div>
		<ul>
			<% for message in @user.errors.full_messages %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div>
		<%= r.label :name %><br>
		<%= r.text_field :name %>
	</div>
	<div>
		<%= r.label :address %><br>
		<%= r.text_field :address %>
	</div>
	<div>
		<%= r.label :cuisine %><br>
		<%= r.text_field :cuisine %>
	</div>
	<div>
		<%= r.submit %>
	</div>	
<% end %>